body{
  position: fixed;
  font-family: Lato;
}
/* #app{
  width: 48%;
  height: auto;
  position: relative;
  margin-left: 23%;
  margin: 1px solid black;
}
button, input{
  display: inline-block;
} */


/* h1, h2 {
  font-family: Lato;
} */

